
.avatar img {
   width: 100px;
   height: 100px;

   border-radius: 50px;
   margin-left: 30px;
}


.selected {
   font-weight: bold;
   background-color: aqua;
   border-radius: 50%;
   width: 3px;
   height: 3px;
}

.pagination{
   font-size: 20px;
   text-align: center;
   font-family: 'Fredoka One', cursive;
   font-weight: 100;
   cursor: pointer;
  

}

.pagination  span {
   margin: 10px;

}

.usersContainer {
   font-family: 'Nunito Sans', sans-serif;

      
   text-align: center;

}

.placeholder {
   width: 600px;
   background: rgb(245, 245, 245);
   padding: 20px;
   margin: 40px;
   border-radius: 30px;
   margin-left: 150px;
   display: flex;
   justify-content: space-between;
}

.name{
   font-weight: bold;
   font-size: 20px;
}

.button button{
   background-color: transparent;
   border: 2px solid rgb(167, 166, 166);
   font-family: 'Nunito Sans', sans-serif;
   border-radius: 3px;
   font-weight: 600;
   font-style: italic;
   margin-left: 30px;


}

.text {
   margin-right: 30px;

}

.text div {
   padding: 6px;

}