.navigationBar {
   grid-area: n;
   background-color: aqua;
 }

 .item a {
    color:white;
    text-decoration: none;
    
 }

 .item .active {
    color: brown;
 }

 .item {
    padding: 20px;
 }

