.dialogs {
   background-color: rgb(0, 0, 0);
   color: azure;
   display: grid; 
   grid-template-columns: 1fr 11fr;
   padding: 3px;
}

.dialogItems .dialog {
   padding: 10px;
}


.dialogs a {
   color: azure;
   margin: 6px;
}



.messages  {
   padding: 12px;
}

.dialog img {
   width: 20px;
   border-radius: 50%;
}

